table{
    border: 2px solid black;
    border-radius: 5px;
}
table tr:first-child, table tr:first-child:hover{
    background: white;
    font-weight: bolder;
    font-size: 14px;
    cursor: default;
}
td{
    border: 1px solid black;
    padding: 5px;
}
.t-user:hover{
    background: lightgray;
    cursor: pointer;
}
#upd-user td{
    border: 1px dashed black;
}
#upd-user{
    display: none;
}